<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".score_board.ScoreActivity"></activity>
        <activity android:name=".maze.MazeCustomization" />
        <activity android:name=".maze.level_game.puzzle.activity.Level" />
        <activity
            android:name=".maze.MazeActivity"
            android:parentActivityName=".initial_interface.GameCenter" />
        <activity android:name=".initial_interface.UserSignUp" />
        <activity android:name=".maze.NoEnergy"/>
        <activity android:name=".initial_interface.GameCenter" />
        <activity android:name=".maze.level_game.button_game.guess_number.GuessNumWin" />
        <activity android:name=".maze.level_game.button_game.guess_number.GuessNumLoss" />
        <activity
            android:name=".maze.level_game.puzzle.activity.PlayNumberPuzzleActivity"
            android:parentActivityName=".maze.level_game.puzzle.activity.Level">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".initial_interface.MainActivity" />
        </activity>
        <activity
            android:name=".store.Store"
            android:parentActivityName=".maze.level_game.puzzle.activity.Level">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".initial_interface.MainActivity" />
        </activity>
        <activity
            android:name=".maze.level_game.button_game.guess_number.GuessNumberActivity"
            android:parentActivityName=".initial_interface.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".initial_interface.MainActivity" />
        </activity>
        <activity
            android:name=".maze.level_game.button_game.GameOver"
            android:parentActivityName=".initial_interface.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".initial_interface.MainActivity" />
        </activity>
        <activity
            android:name=".maze.level_game.button_game.Button"
            android:parentActivityName=".initial_interface.MainActivity" />
        <activity android:name=".initial_interface.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>